.Header {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  font-family: 'Open Sans', sans-serif;
  color: hsl(322, 100%, 66%);
  background-color: white;
  border-color: hsl(322, 100%, 66%);
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  cursor: pointer;
}
